*{
  margin:0;
  padding:0;
  font-family: sans-serif;
  cursor: pointer;
  overflow-x: hidden;
}
.footer-div{
  line-height: 2;
  letter-spacing: 1px;
}
.footer-list{
  text-decoration: none;
  color: white;
  padding: 8px;
}
.footer-icons{
  margin-top: 20px;
}
/* -------components css-------- */
.form-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-div-column {
  border: 1px solid gray;
  padding: 30px;
  box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.6);
}

/* Students css */

/* header */
.header{
  grid-area: header;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  background: #000000d4;
  padding: 0 30px 0 30px;
  box-shadow: 0 6px 7px -3px rgba(0, 0, 0, 0.35);
  color: white;
}

